@model ProjectsViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
     ViewData["Title"] = "New Project";
}
<div class="fixer">
    <div class="main-container">
        <h1 class="text-center">New Project</h1>


        <div class="project-holder m-5 p-2 w-50">
            <div class="grid-header">
                <h4 class="text-center">Welcome @Model.Designers.FirstOrDefault(u => u.Email == @UserManager.GetUserName(User)).Name</h4>
                <hr style="border-color:transparent">
                <form asp-action="CreateProject" method="post">
                    <h5 class="text-center">Create Project</h5>
                    <div class="input-container">
                        <div class="inputs">
                            <label asp-for="Project.Name"></label>
                            <input asp-for="Project.Name" class="text-center " type="text" placeholder="Project name"
                                tabindex="0">
                            <span asp-validation-for="Project.Name"></span>
                        </div>
                        <div class="inputs">
                            
                            <input asp-for="Project.DesignerId" class="text-center " type="hidden" value="@Model.Designers.FirstOrDefault(u => u.Email == @UserManager.GetUserName(User)).Id"
                                placeholder="Designer id" tabindex="0">
                        </div>

                        <hr>

                        <div class="text-center pt-2">
                            <h5>Add Material</h5>
                        </div>

                        <hr>

                        <div class="inputs">
                            <input asp-for="Material.ProjectId" class="text-center " type="hidden" value="@(@Model.Projects.ToList().Count + 1)"
                                placeholder="Material Project Id" tabindex="0">
                        </div>
                        <div class="inputs">
                            <label asp-for="Material.Name"></label>
                            <input asp-for="Material.Name" class="text-center " type="text" placeholder="Material name"
                                tabindex="0">
                                <span asp-validation-for="Material.Name" class="text-danger"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="Material.Supplier"></label>
                            <input asp-for="Material.Supplier" class="text-center " type="text" placeholder="Supplier"
                                tabindex="0">
                        </div>
                        <div class="inputs">
                            <label asp-for="Material.Amount"></label>
                            <input asp-for="Material.Amount" class="text-center " type="text"
                                placeholder="Material amount" tabindex="0">
                        </div>
                        <div class="inputs">
                            <label asp-for="Material.Price"></label>
                            <input asp-for="Material.Price" class="text-center " type="text"
                                placeholder="Material price" tabindex="0">
                        </div>
                        <div class="inputs">
                            <label asp-for="Material.Details"></label>
                            <input asp-for="Material.Details" class="text-center " type="text"
                                placeholder="Material details" tabindex="0">
                        </div>

                        <hr>

                        <div class="btn-container d-flex ">
                            <div tabindex="0"> <input type="submit" class="btn add" value="Create"> </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>