@model ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}
<div class="fixer">
    <div class="main-container">
        <h1 class="text-center">All Projects</h1>
        @foreach (var project in Model.Projects)
        {
            <div class="project-holder">
                <div class="grid-header">
                    <h4 class="text-center">@project.Name</h4>
                    <h5 class="text-center">Project Id: @project.Id</h5>
                    <h6 class="text-center">User: @project.User.Name</h6>
                    <hr>
                </div>
                <div class="grid-container">
                    <div class="grid-item header-item">Material</div>
                    <div class="grid-item header-item">Amount</div>
                    <div class="grid-item header-item">Price</div>
                    <div class="grid-item header-item">Details</div>
                </div>
                @foreach (var material in project.Materials)
                {
                    <div class="grid-container">
                        <div class="grid-item">@material.Name</div>
                        <div class="grid-item">@material.Amount</div>
                        <div class="grid-item">@material.Price.ToString("c0")</div>
                        <div class="grid-item">@material.Details</div>
                    </div>
                }
                <hr>
                <div class="total">Total: @project.GetTotalCost().ToString("c0")</div>
            </div>
        }
        <hr>
        <div class="total">Total all projects: @Model.GetTotalCost().ToString("c0")</div>
        <div class="total">Average project cost: @Model.GetAverageCost().ToString("c0")</div>
    </div>
</div>