@model MyProjectsViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Projects";
}
<div class="fixer">
    <div class="main-container">
        <h1 class="text-center">Ballong AB</h1>
        <h2 class="text-center">All @Model.Projects.FirstOrDefault(u => u.Designer.Email == @UserManager.GetUserName(User)).Designer.Name's projects</h2>
        @foreach (var project in Model.Projects.Where(u => u.Designer.Email == @UserManager.GetUserName(User)))
        {
            <partial name="_ProjectCard" model="project" />
        }
        <hr>
        <div class="billboard">
            <div class="total">Total projects: @Model.Projects.Where(u => u.Designer.Email == @UserManager.GetUserName(User)).ToList().Count</div>
            <div class="total">Total cost: @Model.GetTotalCost(@Model.Projects.FirstOrDefault(u => u.Designer.Email == @UserManager.GetUserName(User)).Designer.Id).ToString("c0")</div>
            <div class="total">Average cost: @Model.GetAverageCost(@Model.Projects.FirstOrDefault(u => u.Designer.Email == @UserManager.GetUserName(User)).Designer.Id).ToString("c0")</div>
        </div>
    </div>
</div>