@model Project

<div class="project-holder">
                <div class="grid-header">
                    <a href="/Projects/AddMaterial/@Model.Id" class="btn" style="line-height: 15px;" title="Add material">+</a>
                    <h4 class="text-center">@Model.Name</h4>
                    <h6 class="text-center">Designer: @Model.Designer.Name</h6>
                    
                    <hr>
                </div>
                <div class="grid-container">
                    <div class="grid-item header-item">Material</div>
                    <div class="grid-item header-item">Supplier</div>
                    <div class="grid-item header-item">Amount</div>
                    <div class="grid-item header-item">Price</div>
                    <div class="grid-item header-item">Details</div>
                </div>
                @foreach (var material in Model.Materials)
                {
                    <div class="grid-container">
                        <div class="grid-item">@material.Name</div>
                        <div class="grid-item">@material.Supplier</div>
                        <div class="grid-item">@material.Amount</div>
                        <div class="grid-item">@material.Price.ToString("c0")</div>
                        <div class="grid-item"><a href="http://@material.Details" target="_blank"> @material.Details</a></div>
                            <div class="grid-item"><a href="/Projects/EditMaterial/@material.Id" class="text-center btn" title="Edit"
                                style="height: fit-content; margin: 0; padding: 0;"><i class="far fa-edit"></i></a></div>
                            
                       
                    </div>
                }
                <hr>
                <div class="total">Total: @Model.GetTotalCost().ToString("c0")</div>
            </div>